In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_table(r'C:\Users\HP\Desktop\New folder (2)\movies.data')
df

,1,Unnamed: 1,Toy Story (1995),Unnamed: 3,Animation|Children's|Comedy,Unnamed: 5,Unnamed: 6
0,2,NaN,Jumanji (1995),NaN,Adventure|Children's|Fantasy,NaN,NaN
1,3,NaN,Grumpier Old Men (1995),NaN,Comedy|Romance,NaN,NaN
2,4,NaN,Waiting to Exhale (1995),NaN,Comedy|Drama,NaN,NaN
3,5,NaN,Father of the Bride Part II (1995),NaN,Comedy,NaN,NaN
4,6,NaN,Heat (1995),NaN,Action|Crime|Thriller,NaN,NaN
...,...,...,...,...,...,...,...
3877,3948,NaN,Meet the Parents (2000),NaN,Comedy,NaN,NaN
3878,3949,NaN,Requiem for a Dream (2000),NaN,Drama,NaN,NaN
3879,3950,NaN,Tigerland (2000),NaN,Drama,NaN,NaN
3880,3951,NaN,Two Family House (2000),NaN,Drama,NaN,NaN
3881,3952,NaN,"Contender, The (2000)",NaN,Drama|Thriller,NaN,NaN

In [3]:
df1 = pd.read_csv(r"C:\Users\HP\Desktop\ps\movies.csv")
df1

,MovieID,Unnamed: 1,Title,Unnamed: 3,Genres,Unnamed: 5,Unnamed: 6
0,1,NaN,Toy Story (1995),NaN,Animation|Children's|Comedy,NaN,NaN
1,2,NaN,Jumanji (1995),NaN,Adventure|Children's|Fantasy,NaN,NaN
2,3,NaN,Grumpier Old Men (1995),NaN,Comedy|Romance,NaN,NaN
3,4,NaN,Waiting to Exhale (1995),NaN,Comedy|Drama,NaN,NaN
4,5,NaN,Father of the Bride Part II (1995),NaN,Comedy,NaN,NaN
...,...,...,...,...,...,...,...
3878,3948,NaN,Meet the Parents (2000),NaN,Comedy,NaN,NaN
3879,3949,NaN,Requiem for a Dream (2000),NaN,Drama,NaN,NaN
3880,3950,NaN,Tigerland (2000),NaN,Drama,NaN,NaN
3881,3951,NaN,Two Family House (2000),NaN,Drama,NaN,NaN
3882,3952,NaN,"Contender, The (2000)",NaN,Drama|Thriller,NaN,NaN

In [4]:
df1.drop(['Unnamed: 1','Unnamed: 3','Unnamed: 5','Unnamed: 6'],axis=1,inplace=True)
df1

,MovieID,Title,Genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [5]:
df2 = pd.read_csv(r"C:\Users\HP\Desktop\ps\rating.csv")
df2

,UserID,Unnamed: 1,MovieID,Unnamed: 3,Rating,Unnamed: 5,Timestamp
0,1,NaN,1193,NaN,5,NaN,978300760
1,1,NaN,661,NaN,3,NaN,978302109
2,1,NaN,914,NaN,3,NaN,978301968
3,1,NaN,3408,NaN,4,NaN,978300275
4,1,NaN,2355,NaN,5,NaN,978824291
...,...,...,...,...,...,...,...
1000204,6040,NaN,1091,NaN,1,NaN,956716541
1000205,6040,NaN,1094,NaN,5,NaN,956704887
1000206,6040,NaN,562,NaN,5,NaN,956704746
1000207,6040,NaN,1096,NaN,4,NaN,956715648
1000208,6040,NaN,1097,NaN,4,NaN,956715569

In [6]:
df2.drop(['Unnamed: 1','Unnamed: 3','Unnamed: 5'],axis=1,inplace=True)
df2

         UserID  MovieID  Rating  Timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
...         ...      ...     ...        ...
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]

In [7]:
df3 = pd.read_csv(r"C:\Users\HP\Desktop\ps\user.csv")
df3

,UserID,Unnamed: 1,Gender,Unnamed: 3,Age,Unnamed: 5,Occupation,Unnamed: 7,Zip-code
0,1,NaN,F,NaN,1,NaN,10,NaN,48067
1,2,NaN,M,NaN,56,NaN,16,NaN,70072
2,3,NaN,M,NaN,25,NaN,15,NaN,55117
3,4,NaN,M,NaN,45,NaN,7,NaN,2460
4,5,NaN,M,NaN,25,NaN,20,NaN,55455
...,...,...,...,...,...,...,...,...,...
6035,6036,NaN,F,NaN,25,NaN,15,NaN,32603
6036,6037,NaN,F,NaN,45,NaN,1,NaN,76006
6037,6038,NaN,F,NaN,56,NaN,1,NaN,14706
6038,6039,NaN,F,NaN,45,NaN,0,NaN,1060
6039,6040,NaN,M,NaN,25,NaN,6,NaN,11106

In [8]:
df3.drop(['Unnamed: 1','Unnamed: 3','Unnamed: 5','Unnamed: 7'],axis=1,inplace=True)
df3

      UserID Gender  Age  Occupation Zip-code
0          1      F    1          10    48067
1          2      M   56          16    70072
2          3      M   25          15    55117
3          4      M   45           7     2460
4          5      M   25          20    55455
...      ...    ...  ...         ...      ...
6035    6036      F   25          15    32603
6036    6037      F   45           1    76006
6037    6038      F   56           1    14706
6038    6039      F   45           0     1060
6039    6040      M   25           6    11106

[6040 rows x 5 columns]

In [9]:
df4= pd.merge(df1,df2,on='MovieID',how='inner')
df4

,MovieID,Title,Genres,UserID,Rating,Timestamp
0,1,Toy Story (1995),Animation|Children's|Comedy,1,5,978824268
1,1,Toy Story (1995),Animation|Children's|Comedy,6,4,978237008
2,1,Toy Story (1995),Animation|Children's|Comedy,8,4,978233496
3,1,Toy Story (1995),Animation|Children's|Comedy,9,5,978225952
4,1,Toy Story (1995),Animation|Children's|Comedy,10,5,978226474
...,...,...,...,...,...,...
1000204,3952,"Contender, The (2000)",Drama|Thriller,5812,4,992072099
1000205,3952,"Contender, The (2000)",Drama|Thriller,5831,3,986223125
1000206,3952,"Contender, The (2000)",Drama|Thriller,5837,4,1011902656
1000207,3952,"Contender, The (2000)",Drama|Thriller,5927,1,979852537
1000208,3952,"Contender, The (2000)",Drama|Thriller,5998,4,1001781044

In [10]:
df4.drop(['Genres','Timestamp'],axis=1,inplace=True)
df4

         MovieID                  Title  UserID  Rating
0              1       Toy Story (1995)       1       5
1              1       Toy Story (1995)       6       4
2              1       Toy Story (1995)       8       4
3              1       Toy Story (1995)       9       5
4              1       Toy Story (1995)      10       5
...          ...                    ...     ...     ...
1000204     3952  Contender, The (2000)    5812       4
1000205     3952  Contender, The (2000)    5831       3
1000206     3952  Contender, The (2000)    5837       4
1000207     3952  Contender, The (2000)    5927       1
1000208     3952  Contender, The (2000)    5998       4

[1000209 rows x 4 columns]

In [11]:
df5= pd.merge(df4,df3,on='UserID',how='inner')
df5

,MovieID,Title,UserID,Rating,Gender,Age,Occupation,Zip-code
0,1,Toy Story (1995),1,5,F,1,10,48067
1,48,Pocahontas (1995),1,5,F,1,10,48067
2,150,Apollo 13 (1995),1,5,F,1,10,48067
3,260,Star Wars,1,4,F,1,10,48067
4,527,Schindler's List (1993),1,5,F,1,10,48067
...,...,...,...,...,...,...,...,...
1000204,3513,Rules of Engagement (2000),5727,4,M,25,4,92843
1000205,3535,American Psycho (2000),5727,2,M,25,4,92843
1000206,3536,Keeping the Faith (2000),5727,5,M,25,4,92843
1000207,3555,U-571 (2000),5727,3,M,25,4,92843
1000208,3578,Gladiator (2000),5727,5,M,25,4,92843

In [12]:
df5.drop('Zip-code',axis=1,inplace=True)
df5

,MovieID,Title,UserID,Rating,Gender,Age,Occupation
0,1,Toy Story (1995),1,5,F,1,10
1,48,Pocahontas (1995),1,5,F,1,10
2,150,Apollo 13 (1995),1,5,F,1,10
3,260,Star Wars,1,4,F,1,10
4,527,Schindler's List (1993),1,5,F,1,10
...,...,...,...,...,...,...,...
1000204,3513,Rules of Engagement (2000),5727,4,M,25,4
1000205,3535,American Psycho (2000),5727,2,M,25,4
1000206,3536,Keeping the Faith (2000),5727,5,M,25,4
1000207,3555,U-571 (2000),5727,3,M,25,4
1000208,3578,Gladiator (2000),5727,5,M,25,4

In [13]:
from matplotlib import style

In [14]:
df6=df5[['Title','Rating']]
df6

                              Title  Rating
0                  Toy Story (1995)       5
1                 Pocahontas (1995)       5
2                  Apollo 13 (1995)       5
3                         Star Wars       4
4           Schindler's List (1993)       5
...                             ...     ...
1000204  Rules of Engagement (2000)       4
1000205      American Psycho (2000)       2
1000206    Keeping the Faith (2000)       5
1000207                U-571 (2000)       3
1000208            Gladiator (2000)       5

[1000209 rows x 2 columns]

In [17]:
df7=df6.sort_values("Rating")
df7

                                   Title  Rating
857157              Sliding Doors (1998)       1
575675       Operation Dumbo Drop (1995)       1
196709            In the Army Now (1994)       1
65101                     Soldier (1998)       1
65099                 Strangeland (1998)       1
...                                  ...     ...
562617      Young Sherlock Holmes (1985)       5
562615        Shakespeare in Love (1998)       5
562609             Producers, The (1968)       5
562629   Three Days of the Condor (1975)       5
1000208                 Gladiator (2000)       5

[1000209 rows x 2 columns]

In [18]:
df7.tail(25)

                                                     Title  Rating
562541                            Strictly Ballroom (1992)       5
562585                       Take the Money and Run (1969)       5
562598                         Strangers on a Train (1951)       5
562600                            Shadow of a Doubt (1943)       5
562602                                    Suspicion (1941)       5
562663                                   No Way Out (1987)       5
562661                             Double Indemnity (1944)       5
562658                            Dog Day Afternoon (1975)       5
562656                               Born Yesterday (1950)       5
562652                     Talented Mr. Ripley, The (1999)       5
562649                                  Toy Story 2 (1999)       5
562640                     Who Framed Roger Rabbit? (1988)       5
562633                                    Body Heat (1981)       5
562672                                         Heat (1995)       5
562630                              American Beauty (1999)       5
562628                           Christmas Story, A (1983)       5
562627                                          Big (1988)       5
562626   And Now for Something Completely Different (1971)       5
562623                             Sixth Sense, The (1999)       5
562618                        Name of the Rose, The (1986)       5
562617                        Young Sherlock Holmes (1985)       5
562615                          Shakespeare in Love (1998)       5
562609                               Producers, The (1968)       5
562629                     Three Days of the Condor (1975)       5
1000208                                   Gladiator (2000)       5

In [32]:
df2[['UserID']]

         UserID
0             1
1             1
2             1
3             1
4             1
...         ...
1000204    6040
1000205    6040
1000206    6040
1000207    6040
1000208    6040

[1000209 rows x 1 columns]

In [34]:
df2[df2.UserID==2696]

        UserID  MovieID  Rating  Timestamp
440667    2696     1258       4  973308710
440668    2696     1270       2  973308676
440669    2696     1617       4  973308842
440670    2696     1625       4  973308842
440671    2696     1644       2  973308920
440672    2696     1645       4  973308904
440673    2696     1805       4  973308886
440674    2696     1892       4  973308904
440675    2696      800       5  973308842
440676    2696     2338       2  973308920
440677    2696     1711       4  973308904
440678    2696     3176       4  973308865
440679    2696     2389       4  973308710
440680    2696     1589       3  973308865
440681    2696     2713       1  973308710
440682    2696     3386       1  973308842
440683    2696     1783       4  973308865
440684    2696      350       3  973308886
440685    2696     1092       4  973308886
440686    2696     1097       3  973308690

In [35]:
df1["Genres"].unique()

array(["Animation|Children's|Comedy", "Adventure|Children's|Fantasy",
       'Comedy|Romance', 'Comedy|Drama', 'Comedy',
       'Action|Crime|Thriller', "Adventure|Children's", 'Action',
       'Action|Adventure|Thriller', 'Comedy|Drama|Romance', nan,
       "Animation|Children's", 'Drama', 'Action|Adventure|Romance',
       'Drama|Thriller', 'Drama|Romance', 'Thriller',
       'Action|Comedy|Drama', 'Crime|Drama|Thriller', 'Drama|Sci-Fi',
       'Romance', 'Adventure|Sci-Fi', 'Adventure|Romance',
       "Children's|Comedy|Drama", 'Documentary', 'Drama|War',
       'Action|Crime|Drama', 'Action|Adventure', 'Crime|Thriller',
       "Animation|Children's|Musical|Romance", 'Action|Drama|Thriller',
       "Children's|Comedy", 'Drama|Mystery',
       'Action|Comedy|Crime|Horror|Thriller', 'Drama|Musical',
       'Sci-Fi|Thriller', 'Crime|Drama|Romance', 'Adventure|Drama',
       'Action|Thriller', "Adventure|Children's|Comedy|Musical",
       'Action|Drama|War', 'Action|Adventure|Crime', 'Crime',
       'Drama|Mystery|Romance', 'Action|Drama', 'Drama|Romance|War',
       'Horror', 'Action|Adventure|Comedy|Crime', 'Comedy|War',
       'Action|Adventure|Mystery|Sci-Fi', 'Drama|Thriller|War',
       'Action|Romance|Thriller', 'Crime|Film-Noir|Mystery|Thriller',
       'Action|Adventure|Drama|Romance', 'Action|Sci-Fi|Thriller',
       'Action|Adventure|Sci-Fi', 'Horror|Sci-Fi', 'Action|Crime|Sci-Fi',
       'Western', "Animation|Children's|Comedy|Romance",
       "Children's|Drama", 'Crime|Drama',
       'Drama|Fantasy|Romance|Thriller', 'Drama|Horror', 'Comedy|Sci-Fi',
       'Mystery|Thriller', "Adventure|Children's|Comedy|Fantasy|Romance",
       'Drama|Romance|War|Western', 'Action|Crime',
       'Action|Adventure|Western', 'Horror|Thriller',
       "Children's|Comedy|Fantasy", 'Film-Noir|Thriller',
       'Action|Comedy|Musical|Sci-Fi', 'Comedy|Horror', "Children's",
       'Drama|Mystery|Thriller', 'Comedy|Romance|War', 'Action|Comedy',
       "Adventure|Children's|Romance", "Animation|Children's|Musical",
       'Comedy|Crime|Fantasy', 'Action|Comedy|Western', 'Action|Sci-Fi',
       'Action|Adventure|Comedy|Romance', 'Comedy|Crime|Drama',
       'Comedy|Thriller', 'Horror|Sci-Fi|Thriller',
       'Mystery|Romance|Thriller', "Adventure|Children's|Drama",
       'Action|Adventure|Crime|Thriller', 'Action|Comedy|War',
       'Comedy|Western', 'Comedy|Mystery', "Action|Children's",
       'Comedy|Mystery|Romance', 'Comedy|Drama|War',
       'Action|Drama|Mystery', 'Comedy|Crime|Horror', 'Film-Noir|Sci-Fi',
       'Comedy|Romance|Thriller', "Action|Adventure|Children's|Sci-Fi",
       "Children's|Comedy|Musical", 'Action|Adventure|Comedy',
       'Action|Crime|Romance',
       "Action|Adventure|Animation|Children's|Fantasy",
       "Animation|Children's|Comedy|Musical", 'Adventure|Drama|Western',
       'Action|Adventure|Crime|Drama',
       'Action|Adventure|Animation|Horror|Sci-Fi', 'War', 'Mystery',
       'Action|Adventure|Fantasy',
       "Adventure|Animation|Children's|Comedy|Fantasy", 'Sci-Fi',
       'Action|Adventure|Comedy|War', 'Crime|Film-Noir|Thriller',
       'Action|Adventure|Romance|Thriller', 'Animation|Sci-Fi',
       'Animation|Comedy|Thriller', 'Film-Noir', 'Adventure',
       'Comedy|Crime', 'Action|Sci-Fi|War',
       'Comedy|Fantasy|Romance|Sci-Fi', 'Fantasy',
       'Action|Mystery|Thriller', 'Comedy|Musical',
       'Action|Adventure|Sci-Fi|Thriller', 'Crime|Drama|Romance|Thriller',
       "Children's|Drama|Fantasy", 'Adventure|War', 'Musical|Romance',
       'Comedy|Musical|Romance', 'Comedy|Mystery|Romance|Thriller',
       'Film-Noir|Mystery', 'Musical',
       "Adventure|Children's|Drama|Musical", 'Romance|Thriller',
       'Film-Noir|Romance|Thriller', 'Crime|Film-Noir|Mystery',
       'Adventure|Comedy', 'Action|Adventure|Romance|War', 'Romance|War',
       'Action|Drama|Western', "Children's|Comedy|Western",
       "Adventure|Children's|Comedy", "Children's|Comedy|Mystery",
       "Adventure|Children's|Fantasy|Sci-Fi",
       "Adventure|Animation|Children's|Musical",
       "Adventure|Children's|Musical", 'Documentary|Drama',
       'Crime|Film-Noir', "Adventure|Children's|Comedy|Fantasy",
       "Children's|Drama|Fantasy|Sci-Fi", 'Action|Romance',
       'Adventure|Western', 'Comedy|Fantasy', 'Animation|Comedy',
       'Crime|Drama|Film-Noir', 'Action|Sci-Fi|Thriller|War',
       'Action|Western', 'Action|Horror|Sci-Fi|Thriller',
       'Action|Adventure|Comedy|Horror|Sci-Fi', 'Action|Comedy|Musical',
       'Mystery|Sci-Fi', 'Film-Noir|Mystery|Thriller',
       'Adventure|Comedy|Drama', 'Action|Adventure|Comedy|Horror',
       'Action|Drama|Mystery|Romance|Thriller', 'Comedy|Mystery|Thriller',
       'Adventure|Animation|Sci-Fi|Thriller', 'Action|Drama|Romance',
       'Action|Adventure|Drama', 'Comedy|Drama|Musical',
       'Documentary|War', 'Drama|Musical|War', 'Action|Horror',
       'Horror|Romance', 'Action|Comedy|Sci-Fi|War', 'Crime|Drama|Sci-Fi',
       'Action|Romance|War', 'Action|Comedy|Crime|Drama',
       'Action|Drama|Thriller|War', "Action|Adventure|Children's|Fantasy",
       "Adventure|Animation|Children's|Comedy|Musical",
       'Crime|Drama|Mystery', 'Action|Adventure|Comedy|Sci-Fi',
       "Children's|Fantasy", 'Action|Mystery|Sci-Fi|Thriller',
       'Action|Mystery|Romance|Thriller', 'Adventure|Thriller',
       'Action|Thriller|War', 'Action|Crime|Mystery',
       'Horror|Mystery|Thriller', 'Crime|Horror|Mystery|Thriller',
       'Comedy|Drama|Thriller', 'Drama|Sci-Fi|Thriller',
       'Drama|Romance|Thriller', 'Action|Adventure|Sci-Fi|War',
       'Comedy|Crime|Drama|Mystery', 'Comedy|Crime|Mystery|Thriller',
       'Film-Noir|Sci-Fi|Thriller', 'Action|Horror|Sci-Fi',
       'Adventure|Sci-Fi|Thriller', 'Crime|Drama|Mystery|Thriller',
       'Comedy|Documentary', 'Documentary|Musical',
       'Action|Drama|Sci-Fi|Thriller',
       "Adventure|Animation|Children's|Fantasy",
       'Adventure|Comedy|Romance', 'Action|Comedy|Crime',
       "Animation|Children's|Fantasy|War", 'Action|Crime|Drama|Thriller',
       'Comedy|Sci-Fi|Western', "Children's|Fantasy|Musical",
       'Fantasy|Sci-Fi', "Children's|Comedy|Sci-Fi",
       "Action|Adventure|Children's|Comedy",
       "Adventure|Children's|Drama|Romance",
       "Adventure|Children's|Sci-Fi",
       "Adventure|Children's|Comedy|Fantasy|Sci-Fi",
       "Animation|Children's|Comedy|Musical|Romance",
       "Children's|Musical", 'Drama|Fantasy',
       "Animation|Children's|Fantasy|Musical", 'Adventure|Comedy|Musical',
       "Children's|Sci-Fi", "Children's|Horror", 'Comedy|Fantasy|Romance',
       'Action|Adventure|Fantasy|Sci-Fi', 'Comedy|Crime|Thriller',
       "Adventure|Animation|Children's|Sci-Fi",
       'Action|Crime|Mystery|Thriller', 'Adventure|Musical',
       "Animation|Children's|Drama|Fantasy", "Children's|Fantasy|Sci-Fi",
       'Adventure|Fantasy|Romance', 'Action|Adventure|Horror',
       'Drama|Film-Noir|Thriller', 'Animation', 'Action|Comedy|Fantasy',
       'Sci-Fi|Thriller|War', 'Action|Adventure|Sci-Fi|Thriller|War',
       'Action|Adventure|Drama|Thriller', ' Miami Beach (1988)',
       'Crime|Horror|Thriller', 'Animation|Musical', 'Action|War',
       'Action|Adventure|Mystery', 'Drama|Western',
       'Action|Comedy|Romance|Thriller', 'Comedy|Horror|Thriller',
       'Drama|Horror|Thriller', 'Action|Sci-Fi|Thriller|Western',
       'Drama|Romance|Sci-Fi', 'Action|Adventure|Horror|Thriller',
       'Comedy|Film-Noir|Thriller', 'Comedy|Horror|Musical|Sci-Fi',
       'Comedy|Romance|Sci-Fi', 'Action|Comedy|Sci-Fi|Thriller',
       'Action|Sci-Fi|Western', 'Comedy|Horror|Musical', 'Crime|Mystery',
       'Animation|Mystery', 'Action|Horror|Thriller',
       'Action|Drama|Fantasy|Romance', 'Horror|Mystery',
       "Adventure|Animation|Children's", 'Musical|Romance|War',
       'Adventure|Drama|Romance', 'Adventure|Fantasy|Sci-Fi',
       'Adventure|Animation|Film-Noir', 'Action|Adventure|Animation',
       'Comedy|Drama|Western', 'Adventure|Comedy|Sci-Fi',
       'Drama|Romance|Western', 'Comedy|Drama|Sci-Fi',
       'Action|Drama|Romance|Thriller', 'Adventure|Romance|Sci-Fi',
       'Film-Noir|Horror', 'Crime|Drama|Film-Noir|Thriller',
       'Action|Adventure|War', 'Romance|Western',
       "Action|Children's|Fantasy", 'Adventure|Drama|Thriller',
       'Adventure|Fantasy', 'Musical|War', 'Adventure|Musical|Romance',
       'Action|Romance|Sci-Fi', 'Drama|Film-Noir', 'Comedy|Horror|Sci-Fi',
       'Adventure|Drama|Romance|Sci-Fi', 'Adventure|Animation|Sci-Fi',
       'Adventure|Crime|Sci-Fi|Thriller'], dtype=object)

In [36]:
df8=pd.DataFrame(df1["Genres"].unique())
df8

                                   0
0        Animation|Children's|Comedy
1       Adventure|Children's|Fantasy
2                     Comedy|Romance
3                       Comedy|Drama
4                             Comedy
..                               ...
290                  Drama|Film-Noir
291             Comedy|Horror|Sci-Fi
292   Adventure|Drama|Romance|Sci-Fi
293       Adventure|Animation|Sci-Fi
294  Adventure|Crime|Sci-Fi|Thriller

[295 rows x 1 columns]

In [37]:
df9=df8.T
df9

,0,1,2,3,4,5,6,7,8,9,...,285,286,287,288,289,290,291,292,293,294
0,Animation|Children's|Comedy,Adventure|Children's|Fantasy,Comedy|Romance,Comedy|Drama,Comedy,Action|Crime|Thriller,Adventure|Children's,Action,Action|Adventure|Thriller,Comedy|Drama|Romance,...,Adventure|Drama|Thriller,Adventure|Fantasy,Musical|War,Adventure|Musical|Romance,Action|Romance|Sci-Fi,Drama|Film-Noir,Comedy|Horror|Sci-Fi,Adventure|Drama|Romance|Sci-Fi,Adventure|Animation|Sci-Fi,Adventure|Crime|Sci-Fi|Thriller

In [39]:
headers=df9.iloc[0]
df9=pd.DataFrame(df9.values[1:], columns=headers)
df9

Empty DataFrame
Columns: [Animation|Children's|Comedy, Adventure|Children's|Fantasy, Comedy|Romance, Comedy|Drama, Comedy, Action|Crime|Thriller, Adventure|Children's, Action, Action|Adventure|Thriller, Comedy|Drama|Romance, nan, Animation|Children's, Drama, Action|Adventure|Romance, Drama|Thriller, Drama|Romance, Thriller, Action|Comedy|Drama, Crime|Drama|Thriller, Drama|Sci-Fi, Romance, Adventure|Sci-Fi, Adventure|Romance, Children's|Comedy|Drama, Documentary, Drama|War, Action|Crime|Drama, Action|Adventure, Crime|Thriller, Animation|Children's|Musical|Romance, Action|Drama|Thriller, Children's|Comedy, Drama|Mystery, Action|Comedy|Crime|Horror|Thriller, Drama|Musical, Sci-Fi|Thriller, Crime|Drama|Romance, Adventure|Drama, Action|Thriller, Adventure|Children's|Comedy|Musical, Action|Drama|War, Action|Adventure|Crime, Crime, Drama|Mystery|Romance, Action|Drama, Drama|Romance|War, Horror, Action|Adventure|Comedy|Crime, Comedy|War, Action|Adventure|Mystery|Sci-Fi, Drama|Thriller|War, Action|Romance|Thriller, Crime|Film-Noir|Mystery|Thriller, Action|Adventure|Drama|Romance, Action|Sci-Fi|Thriller, Action|Adventure|Sci-Fi, Horror|Sci-Fi, Action|Crime|Sci-Fi, Western, Animation|Children's|Comedy|Romance, Children's|Drama, Crime|Drama, Drama|Fantasy|Romance|Thriller, Drama|Horror, Comedy|Sci-Fi, Mystery|Thriller, Adventure|Children's|Comedy|Fantasy|Romance, Drama|Romance|War|Western, Action|Crime, Action|Adventure|Western, Horror|Thriller, Children's|Comedy|Fantasy, Film-Noir|Thriller, Action|Comedy|Musical|Sci-Fi, Comedy|Horror, Children's, Drama|Mystery|Thriller, Comedy|Romance|War, Action|Comedy, Adventure|Children's|Romance, Animation|Children's|Musical, Comedy|Crime|Fantasy, Action|Comedy|Western, Action|Sci-Fi, Action|Adventure|Comedy|Romance, Comedy|Crime|Drama, Comedy|Thriller, Horror|Sci-Fi|Thriller, Mystery|Romance|Thriller, Adventure|Children's|Drama, Action|Adventure|Crime|Thriller, Action|Comedy|War, Comedy|Western, Comedy|Mystery, Action|Children's, Comedy|Mystery|Romance, Comedy|Drama|War, Action|Drama|Mystery, Comedy|Crime|Horror, Film-Noir|Sci-Fi, ...]
Index: []

[0 rows x 295 columns]

In [42]:
df10= pd.concat([df1,df9],axis=1,ignore_index =False)
df10

,MovieID,Title,Genres,Animation|Children's|Comedy,Adventure|Children's|Fantasy,Comedy|Romance,Comedy|Drama,Comedy,Action|Crime|Thriller,Adventure|Children's,...,Adventure|Drama|Thriller,Adventure|Fantasy,Musical|War,Adventure|Musical|Romance,Action|Romance|Sci-Fi,Drama|Film-Noir,Comedy|Horror|Sci-Fi,Adventure|Drama|Romance|Sci-Fi,Adventure|Animation|Sci-Fi,Adventure|Crime|Sci-Fi|Thriller
0,1,Toy Story (1995),Animation|Children's|Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Jumanji (1995),Adventure|Children's|Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Grumpier Old Men (1995),Comedy|Romance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Waiting to Exhale (1995),Comedy|Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Father of the Bride Part II (1995),Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3879,3949,Requiem for a Dream (2000),Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3880,3950,Tigerland (2000),Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3881,3951,Two Family House (2000),Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3882,3952,"Contender, The (2000)",Drama|Thriller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df10.drop(["Genres"],axis=1,inplace=True)
df10

,MovieID,Title,Animation|Children's|Comedy,Adventure|Children's|Fantasy,Comedy|Romance,Comedy|Drama,Comedy,Action|Crime|Thriller,Adventure|Children's,Action,...,Adventure|Drama|Thriller,Adventure|Fantasy,Musical|War,Adventure|Musical|Romance,Action|Romance|Sci-Fi,Drama|Film-Noir,Comedy|Horror|Sci-Fi,Adventure|Drama|Romance|Sci-Fi,Adventure|Animation|Sci-Fi,Adventure|Crime|Sci-Fi|Thriller
0,1,Toy Story (1995),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Jumanji (1995),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Grumpier Old Men (1995),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Waiting to Exhale (1995),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Father of the Bride Part II (1995),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3879,3949,Requiem for a Dream (2000),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3880,3950,Tigerland (2000),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3881,3951,Two Family House (2000),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3882,3952,"Contender, The (2000)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df11=pd.get_dummies(df1.Genres)
df11

,Miami Beach (1988),Action,Action|Adventure,Action|Adventure|Animation,Action|Adventure|Animation|Children's|Fantasy,Action|Adventure|Animation|Horror|Sci-Fi,Action|Adventure|Children's|Comedy,Action|Adventure|Children's|Fantasy,Action|Adventure|Children's|Sci-Fi,Action|Adventure|Comedy,...,Romance,Romance|Thriller,Romance|War,Romance|Western,Sci-Fi,Sci-Fi|Thriller,Sci-Fi|Thriller|War,Thriller,War,Western
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3879,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3880,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3881,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3882,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
df12=pd.concat([df1,df11],axis=1)
df12

,MovieID,Title,Genres,Miami Beach (1988),Action,Action|Adventure,Action|Adventure|Animation,Action|Adventure|Animation|Children's|Fantasy,Action|Adventure|Animation|Horror|Sci-Fi,Action|Adventure|Children's|Comedy,...,Romance,Romance|Thriller,Romance|War,Romance|Western,Sci-Fi,Sci-Fi|Thriller,Sci-Fi|Thriller|War,Thriller,War,Western
0,1,Toy Story (1995),Animation|Children's|Comedy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),Comedy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3879,3949,Requiem for a Dream (2000),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3880,3950,Tigerland (2000),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3881,3951,Two Family House (2000),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3882,3952,"Contender, The (2000)",Drama|Thriller,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
df12.drop(["Genres"],axis=1,inplace=True)
df12

,MovieID,Title,Miami Beach (1988),Action,Action|Adventure,Action|Adventure|Animation,Action|Adventure|Animation|Children's|Fantasy,Action|Adventure|Animation|Horror|Sci-Fi,Action|Adventure|Children's|Comedy,Action|Adventure|Children's|Fantasy,...,Romance,Romance|Thriller,Romance|War,Romance|Western,Sci-Fi,Sci-Fi|Thriller,Sci-Fi|Thriller|War,Thriller,War,Western
0,1,Toy Story (1995),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3879,3949,Requiem for a Dream (2000),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3880,3950,Tigerland (2000),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3881,3951,Two Family House (2000),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3882,3952,"Contender, The (2000)",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
df13= pd.concat([df2,df12],axis=1)
df13

,UserID,MovieID,Rating,Timestamp,MovieID,Title,Miami Beach (1988),Action,Action|Adventure,Action|Adventure|Animation,...,Romance,Romance|Thriller,Romance|War,Romance|Western,Sci-Fi,Sci-Fi|Thriller,Sci-Fi|Thriller|War,Thriller,War,Western
0,1,1193,5,978300760,1.0,Toy Story (1995),0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,661,3,978302109,2.0,Jumanji (1995),0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,914,3,978301968,3.0,Grumpier Old Men (1995),0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,3408,4,978300275,4.0,Waiting to Exhale (1995),0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,2355,5,978824291,5.0,Father of the Bride Part II (1995),0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,6040,1091,1,956716541,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000205,6040,1094,5,956704887,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000206,6040,562,5,956704746,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000207,6040,1096,4,956715648,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000208,6040,1097,4,956715569,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df13.drop(["UserID","MovieID","Timestamp"],axis=1,inplace=True)
df13

,Rating,Title,Miami Beach (1988),Action,Action|Adventure,Action|Adventure|Animation,Action|Adventure|Animation|Children's|Fantasy,Action|Adventure|Animation|Horror|Sci-Fi,Action|Adventure|Children's|Comedy,Action|Adventure|Children's|Fantasy,...,Romance,Romance|Thriller,Romance|War,Romance|Western,Sci-Fi,Sci-Fi|Thriller,Sci-Fi|Thriller|War,Thriller,War,Western
0,5,Toy Story (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3,Jumanji (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000205,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000206,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000207,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000208,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
from sklearn.linear_model import LinearRegression
Lm=LinearRegression()

In [57]:
x= df13.drop('Rating',axis=1)
x

,Title,Miami Beach (1988),Action,Action|Adventure,Action|Adventure|Animation,Action|Adventure|Animation|Children's|Fantasy,Action|Adventure|Animation|Horror|Sci-Fi,Action|Adventure|Children's|Comedy,Action|Adventure|Children's|Fantasy,Action|Adventure|Children's|Sci-Fi,...,Romance,Romance|Thriller,Romance|War,Romance|Western,Sci-Fi,Sci-Fi|Thriller,Sci-Fi|Thriller|War,Thriller,War,Western
0,Toy Story (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Jumanji (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Grumpier Old Men (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Waiting to Exhale (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Father of the Bride Part II (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
y = df13.Rating
y

0          5
1          3
2          3
3          4
4          5
          ..
1000204    1
1000205    5
1000206    5
1000207    4
1000208    4
Name: Rating, Length: 1000209, dtype: int64